/* body styling */

*, body, html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


h1 , footer{
    color: rgb(80, 54, 43);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900            ;
    text-align: center;
}
    
#root {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2px;
    background-color: wheat;
}

.character {    
    margin-right: 2px;
    margin-bottom: 3px;
}
    
    
.img-box {
    width: 20rem;
    height: 20rem;
    

    
}

.char-img {
    width: 70%;
    height: 70%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    transform: scale(0.9);
    
}
.char-img:hover{
    transform: scale(1); 
}

.btn-custom {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    #root {
        padding-left: 5rem;
    }

    .character {    
        margin-right: 4rem;
    }
  
    #root {
        padding-left: 5rem;
        justify-content: center;
    }

    .character {    
        margin-right: 5rem;
    }
  

 
    .character {    
        margin-right: 0;
    }
  